*{
	margin: 0px;
	padding: 0px;
	font-family: arial;
}

.green {
	width: 500px;
	height: 250px;
	background-color: #009C3B;
	border: 2px solid blacks;
	position: relative;
	margin:  200px auto;
}

.yellow{
	width: 200px;
	height: 200px;
	background-color: yellow;
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	margin: auto;
	transform:  rotate(-45deg) skew(20deg, 20deg);
	

}

.green .yellow img {
	width: 130px;
	height: 201px;
	transform: rotate(45deg);
	
	
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	margin: auto;


}