.green {
	height: 300px;
	width: 500px;
	background-color: green;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;

}
.red {
	height: 250px;
	width: 250px;
	background-color: red;
	margin-left: auto;
	margin-right: auto;
	margin-top: 24px;
	border-radius: 50%;
}