*{
	margin: 0px;
	padding: 0px;
	font-family: arial;

}

.google{
	width: 589px;
	margin: 200px auto 0px;
	
}
.google input{
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	border: 1px solid #dfe1e5;
	border-radius: 30px;
	margin: 10px auto;
	
}
.google img{
	width: 50%;
	display: block;
	margin: auto;
}
.google .google-button{
	text-align: center;
	
	
}
.google .google-button button{
	padding: 10px 20px;
	border: 100%;
	border-radius: 7px;
	margin: 5px;
}
.google p{
	text-align: center;
	font-size: 14px;
	margin-top: 20px;
	
}
.google p a{
	text-decoration: none;
	font-size: 14px;
	
}