*{
    margin: 0px;
    padding: 0px;
}
 /* start body */
.firstname {
    padding: 4px;
    
}
.firstname input{
    padding: 4px;
    border: 2px solid red;
}
 .firstname h4{
     font-family: Arial;
     margin-bottom: 5px;
 }
